@using HairSalon.Models
@using System.Collections.Generic
@model List<HairSalon.Models.Stylist>

<h1>Stylist List</h1>

@if (@Model.Count == 0)
  {
    <h3>No stylists have been added yet!</h3>
  } 
  else
  {
    @foreach(Stylist stylist in Model)
    {
        <p>@Html.ActionLink($"{stylist.Name}", "Details", new { id = stylist.StylistId })</p>
    }
    <p>@Html.ActionLink("Add new client", "Create", "Clients")</p>
  }

    <hr/>

    <p>@Html.ActionLink("Add new stylist", "Create")</p>

    <p>@Html.ActionLink("Home", "Index", "Home")</p>