@{
  Layout = "_Layout";
}


@using HairSalon.Models
@model HairSalon.Models.Client
  
  <h4>Add a new client</h4>
  @using (Html.BeginForm())
  {
    <div class="form-group">
      @Html.LabelFor(model => model.Name)
      @Html.TextBoxFor(model => model.Name, new{ @class="form-control"})
    </div>
    <div class="form-group">
      @Html.LabelFor(model => model.Service)
      @Html.TextBoxFor(model => model.Service, new{ @class="form-control"})
    </div>
    <div class="dropdown">
      @Html.LabelFor(model => model.Stylist)
      @Html.DropDownList("StylistId")
    </div>
    <input type="submit" value="Add new client" />
  }